:root {
  --ht-bg-color: #F6F9FE;
  --ht-bg-opacity: 1;

  --sd-color-bg-main: #F5F5F5;
  --sd-color-bg-top: #F6F9FE;
  --sd-color-bg-cover: #F6F9FE;
  --sd-color-bg-secondary: #FFFFFF;

  --sd-color-txt-main: #000000;
  --sd-color-txt-primary: #333333;
  --sd-color-txt-secondary: #666666;
  --sd-color-txt-tertiary: #999999;
  --sd-color-txt-placeholder: #BFBFBF;
  --sd-color-txt-inverse: #FFFFFF;
}

:root {
  --hm-bg-color: #FFFFFF;
  --hm-bg-opacity: 1;
}

:root {
  --width-small-container: 1366px;
  --width-container: 1440px;
  --width-form: 220px;
  --z-main: 100;
  --z-customerservice: 101;
  --z-header: 401;
}

:root {
  --color-background: #fff;
  --color-txt-main: #000000;
  --color-txt-primary: #333333;
  --color-txt-secondary: #666666;
  --color-txt-tertiary: #999999;
  --color-txt-placeholder: #BFBFBF;
  --color-txt-inverse: #FFFFFF;
  --color-linear-primary: linear-gradient(to right, #73b5ff, #165ed8);
  --color-primary-1: #488DED;
  --color-primary-lighten-1: #76AAF2;
  --color-primary-lighten-2: #C8DDFA;
  --color-primary-lighten-3: #EBF5FF;
  --color-primary-lighten-4: #F5F7FA;
  --color-primary-lighten-5: #F9FBFE;
  --color-primary-darken-1: #326BC7;
  --color-primary-darken-2: #204DA1;
  --color-primary-darken-3: #12337A;
  --color-primary-darken-4: #0C2054;
  --color-gray-1: #BFBFBF;
  --color-gray-2: #DDDDDD;
  --color-gray-3: #EEEEEE;
  --color-gray-4: #F5F5F5;
  --color-gray-5: #FAFAFA;
  --color-error: #FA5555;
  --color-error-lighten-1: #FDAAAA;
  --color-error-lighten-2: #F9DEDE;
  --color-success: #67C23A;
  --color-success-lighten-1: #BCE0A3;
  --color-success-lighten-2: #E4F2DA;
  --color-warning: #F5A623;
  --color-warning-lighten-1: #FAD291;
  --color-warning-lighten-2: #FAEDD6;
}

$default-font-path: "/fonts/dina";
$dina-font-family: "DINAlternate-Bold";

$sd-font-family: "spring-dawn" !default;
$sd-font-path: "/fonts/sd" !default;

$icon-sd-card: "\e900";
$icon-sd-card_02: "\e901";
$icon-sd-notice: "\e902";
$icon-sd-notice_02: "\e903";
$icon-sd-note: "\e904";
$icon-sd-customer: "\e905";
$icon-sd-qr-code: "\e906";
$icon-sd-ranking: "\e907";
$icon-sd-hongbao: "\e908";
$icon-sd-down-btn: "\e909";
$icon-sd-piggy_bank: "\e90a";
$icon-sd-score: "\e90b";
$icon-sd-menu: "\e90c";
$icon-sd-data: "\e90d";
$icon-sd-data_02: "\e90e";
$icon-sd-data-user: "\e90f";
$icon-sd-data_03: "\e910";
$icon-sd-data_04: "\e911";
$icon-sd-user: "\e912";
$icon-sd-user_avatar: "\e913";
$icon-sd-rmb: "\e914";
$icon-sd-rmb_01: "\e915";
$icon-sd-usdt: "\e916";
$icon-sd-money_bag: "\e917";
$icon-sd-close: "\e918";
$icon-sd-jiangbei: "\e919";
$icon-sd-ranking_02: "\e91a";
$icon-sd-vip13: "\e91b";
$icon-sd-vip12: "\e91c";
$icon-sd-vip11: "\e91d";
$icon-sd-vip9: "\e91e";
$icon-sd-vip8: "\e91f";
$icon-sd-vip7: "\e920";
$icon-sd-vip6: "\e921";
$icon-sd-vip4: "\e922";
$icon-sd-vip3: "\e923";
$icon-sd-vip2: "\e924";
$icon-sd-vip1: "\e925";
$icon-sd-vip: "\e926";
$icon-sd-vip10: "\e927";
$icon-sd-logout: "\e928";
$icon-sd-refresh: "\e929";
$icon-sd-register: "\e92a";
$icon-sd-hours: "\e92b";
$icon-sd-poker: "\e92c";
$icon-sd-partner: "\e92d";
$icon-sd-check: "\e92e";
$icon-sd-entry: "\e92f";
$icon-sd-stat: "\e930";
$icon-sd-my: "\e931";
$icon-sd-my_02: "\e932";
$icon-sd-plus: "\e933";
$icon-sd-card_03: "\e934";
$icon-sd-recharge: "\e935";
$icon-sd-withdraw: "\e936";
$icon-sd-security: "\e937";
$icon-sd-fresh: "\e938";
$icon-sd-check_02: "\e93d";
$icon-sd-user_02: "\e93e";
$icon-sd-user_03: "\e93f";
$icon-sd-rmb_02: "\e940";
$icon-sd-rmb_03: "\e941";
$icon-sd-icon-lhc: "\e942";
$icon-sd-ssc: "\e944";
$icon-sd-ks: "\e946";
$icon-sd-pk10: "\e947";
$icon-sd-btc: "\e948";
$icon-sd-kl8: "\e949";
$icon-sd-hot: "\e94a";
$icon-sd-new: "\e94c";
$icon-sd-mail: "\e94d";
$icon-sd-info: "\e957";
$icon-sd-voice_02: "\e958";
$icon-sd-cart_empty: "\e959";
$icon-sd-record: "\e95a";
$icon-sd-empty: "\e95b";
$icon-sd-elec: "\e95c";
$icon-sd-fish: "\e95d";
$icon-sd-wallet: "\e95e";
$icon-sd-chess: "\e95f";
$icon-sd-sport: "\e960";
$icon-sd-live: "\e961";
$icon-sd-edit: "\e963";
$icon-sd-random: "\e965";
$icon-sd-voice_on: "\e966";
$icon-sd-voice_off: "\e967";
$icon-sd-cancel: "\e968";
$icon-sd-check-square: "\e96f";
$icon-sd-check_square: "\e970";
$icon-sd-square_empty: "\e976";
$icon-sd-square_check: "\e977";
$icon-sd-help: "\e978";
$icon-sd-lang: "\e979";
$icon-sd-chouqian: "\e97a";
$icon-sd-setting: "\e97b";
$icon-sd-setting_2: "\e97c";
$icon-sd-record_2: "\e97d";
$icon-sd-record_3: "\e97e";
$icon-sd-record_4: "\e980";
$icon-sd-back: "\e981";
$icon-sd-back_2: "\e982";
$icon-sd-back_3: "\e983";
$icon-sd-eye_fill: "\e984";
$icon-sd-eye: "\e985";
$icon-sd-home: "\e988";
$icon-sd-home3: "\e98a";
$icon-sd-image: "\e98b";
$icon-sd-images: "\e939";
$icon-sd-headphones: "\e93a";
$icon-sd-dice: "\e94e";
$icon-sd-clubs: "\e98c";
$icon-sd-bullhorn: "\e93b";
$icon-sd-book: "\e94f";
$icon-sd-file-text: "\e971";
$icon-sd-files-empty: "\e972";
$icon-sd-file-text2: "\e962";
$icon-sd-price-tags: "\e93c";
$icon-sd-qrcode: "\e943";
$icon-sd-coin-dollar: "\e951";
$icon-sd-coin-yen: "\e952";
$icon-sd-credit-card: "\e953";
$icon-sd-calculator: "\e973";
$icon-sd-phone: "\e974";
$icon-sd-envelop: "\e945";
$icon-sd-location2: "\e969";
$icon-sd-map: "\e94b";
$icon-sd-clock: "\e954";
$icon-sd-clock2: "\e955";
$icon-sd-alarm: "\e950";
$icon-sd-bell: "\e975";
$icon-sd-display: "\e956";
$icon-sd-mobile: "\e96a";
$icon-sd-database: "\e964";
$icon-sd-undo2: "\e96b";
$icon-sd-redo2: "\e96c";
$icon-sd-forward: "\e96d";
$icon-sd-reply: "\e96e";
$icon-sd-spinner6: "\e97f";
$icon-sd-search: "\e986";
$icon-sd-zoom-in: "\e987";
$icon-sd-enlarge: "\e989";
$icon-sd-cog: "\e994";
$icon-sd-cogs: "\e995";
$icon-sd-stats-bars: "\e99c";
$icon-sd-gift: "\e99f";
$icon-sd-rocket: "\e9a5";
$icon-sd-fire: "\e9a9";
$icon-sd-bin: "\e9ac";
$icon-sd-list-numbered: "\e9b9";
$icon-sd-list: "\e9ba";
$icon-sd-list2: "\e9bb";
$icon-sd-tree: "\e9bc";
$icon-sd-download3: "\e9c7";
$icon-sd-upload3: "\e9c8";
$icon-sd-earth: "\e9ca";
$icon-sd-link: "\e9cb";
$icon-sd-attachment: "\e9cd";
$icon-sd-bookmarks: "\e9d3";
$icon-sd-warning: "\ea07";
$icon-sd-notification: "\ea08";
$icon-sd-question: "\ea09";
$icon-sd-plus1: "\ea0a";
$icon-sd-minus: "\ea0b";
$icon-sd-info1: "\ea0c";
$icon-sd-cancel-circle: "\ea0d";
$icon-sd-cross: "\ea0f";
$icon-sd-checkmark: "\ea10";
$icon-sd-exit: "\ea14";
$icon-sd-play3: "\ea1c";
$icon-sd-backward2: "\ea1f";
$icon-sd-forward3: "\ea20";
$icon-sd-volume-high: "\ea26";
$icon-sd-volume-mute2: "\ea2a";
$icon-sd-volume-increase: "\ea2b";
$icon-sd-loop2: "\ea2e";
$icon-sd-shuffle: "\ea30";
$icon-sd-circle-up: "\ea41";
$icon-sd-circle-right: "\ea42";
$icon-sd-circle-down: "\ea43";
$icon-sd-circle-left: "\ea44";
$icon-sd-opt: "\ea51";
$icon-sd-checkbox-checked: "\ea52";
$icon-sd-checkbox-unchecked: "\ea53";
$icon-sd-radio-checked: "\ea54";
$icon-sd-radio-checked2: "\ea55";
$icon-sd-radio-unchecked: "\ea56";
$icon-sd-scissors: "\ea5a";
$icon-sd-superscript2: "\ea6b";
$icon-sd-table2: "\ea71";
$icon-sd-share2: "\ea82";
$icon-sd-mail2: "\ea84";
$icon-sd-mail4: "\ea86";
$icon-sd-whatsapp: "\ea93";
$icon-sd-telegram: "\ea95";
$icon-sd-dribbble: "\eaa7";
$icon-sd-tux: "\eabd";
$icon-sd-appleinc: "\eabe";
$icon-sd-android: "\eac0";
$icon-sd-windows: "\eac1";
$icon-sd-windows8: "\eac2";
$icon-sd-skype: "\eac5";

